{{ define "main" }}
<div class="uk-grid">
    <div class="uk-width-medium-3-4 uk-push-1-4 main-contents">
        <h1>{{ .Title }}</h1>
        <div>{{ .Content }}</div>
        {{ range sort $.Site.Data.team "order" "asc" }}
        <div class="uk-grid">
            <div class="uk-width-1-5">
                <img src="http://www.gravatar.com/avatar/{{ .gravatar }}?s=100" />
            </div>
            <div class="uk-width-4-5">
                <p>{{ .intro  | markdownify }}</p>
                <p>{{ .description | markdownify }}</p>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="uk-width-medium-1-4 uk-pull-3-4">
        {{ partial "section_menu.html" . }}
    </div>
</div>
{{ end }}
