{{ define "main" }}
<div>
    <div class="uk-flex uk-flex-space-between">
        <div>
            <h1>{{ .Title }}</h1>
        </div>
        <div class="uk-hidden-small uk-float-right ms-edit-on-github">
            <a href="{{ .Site.Params.contentSourceUrl }}{{ replace .File.Path "\\" "/" }}" title="Open the source of this page on GitHub" target="_blank">Edit on GitHub</a>
        </div>
    </div>
</div>
<div>{{ .Content }}</div>
    {{ range sort $.Site.Data.team "order" "asc" }}
<div class="uk-grid">
    <div class="uk-width-1-5">
        <img src="http://www.gravatar.com/avatar/{{ .gravatar }}?s=100" />
    </div>
    <div class="uk-width-4-5">
        <p>{{ .intro  | markdownify }}</p>
        <p>{{ .description | markdownify }}</p>
    </div>
</div>
    {{ end }}
{{ end }}

{{ define "aside" }}
    {{ partial "section_menu.html" . }}
{{ end }}
