{{ define "main" }}
<div>
    <div class="uk-flex uk-flex-space-between">
        <div>
            <h1>{{ .Title }}</h1>
        </div>
        <div class="uk-hidden-small uk-float-right ms-edit-on-github">
            <a href="{{ .Site.Params.contentSourceUrl }}{{ replace .File.Path "\\" "/" }}" title="Open the source of this page on GitHub" target="_blank">Edit on GitHub</a>
        </div>
    </div>
</div>
<div>{{ .Content }}</div>
{{ end }}

{{ define "aside" }}
    {{ partial "section_menu.html" . }}
{{ end }}
