{{ define "main" }}
<div>
    <div class="uk-flex uk-flex-space-between">
        <div>
            <h1>{{ .Title }}</h1>
        </div>
        <div class="uk-hidden-small uk-float-right ms-edit-on-github">
            {{ partial "edit_on_github.html" . }}
        </div>
    </div>
</div>
<div>{{ .Content | replaceRE "(<h[2-5].*?id=\")(.*?)(\".*?>)(.*?)(</h[2-5]>)" "$1$2$3<a class=\"ms-header-link\" href=\"#$2\"><i class=\"fa fa-link\"></i></a>$4$5" | safeHTML}}</div>
{{ end }}

{{ define "aside" }}
    {{ partial "section_menu.html" . }}
{{ end }}
