        <div class="ms-footer">
            <div class="uk-container uk-container-center uk-vertical-align uk-height-1-1">
                <div class="uk-vertical-align-middle uk-width-1-1">
                    <div class="uk-grid-small" >
                        <div class="uk-width-1-1 ">
                            <ul class="uk-subnav uk-subnav-line uk-flex-center ms-subnav-footer">
                                <li><a class="ms-link-footer" href="/documentation/installation">Documentation</a></li>
                                <li><a class="ms-link-footer" href="https://github.com/mapstruct/mapstruct">Source Code</a></li>
                                <li><a class="ms-link-footer" href="https://groups.google.com/forum/#!forum/mapstruct-users">Google Group</a></li>
                                <li><a class="ms-link-footer" href="https://gitter.im/mapstruct/mapstruct-users">Gitter</a></li>
                                <li><a class="ms-link-footer" href="http://stackoverflow.com/questions/tagged/mapstruct">StackOverflow</a></li>
                                <li><a class="ms-link-footer" href="https://twitter.com/GetMapStruct">Twitter</a></li>
                                <li><a class="ms-link-footer" href="https://plus.google.com/u/0/118070742567787866481">Google+</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1 ms-subnav-footer">
                            © Gunnar Morling 2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
           prettyPrint();
        </script>
    </body>
</html>
