// I gather this file is a starting point for the project.
$navbarBackground:                #E68417 ;
$navbarBackgroundHighlight:       #F2A854 ;
$navbarText:                      #FFFFFF ;
$navbarLinkColor:                 #FFFFFF ;
$navbarSearchPlaceholderColor:    #37B6CE ;


@import "bootstrap";


//@navbarBackgroundHighlight

// Include responsive Bootstrap styles
// @import "bootstrap-responsive";