.fa-external-link {
  vertical-align: middle;
}

h1.uk-article-title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 24px;
}

.ms-article-date.uk-article-meta {
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.ms-article-author.uk-article-meta {
    margin-top: 5px;
}

.uk-article + .uk-article {
    border-top: 0px;
}

.uk-nav-sub > li > a {
    padding-left: 0px;
}

@media (min-width: 768px) {
    .ms-main {
        border-left: 1px solid #ddd;
    }

    .ms-hero {
        background:#eaeaea;
        padding: 60px;
    }

    .ms-hero-logo-container {
        height: 120px;
    }
}

@media (max-width: 767px) {
    .ms-aside {
        padding-bottom: 15px;
    }

    .ms-main {
        margin-top: 15px;
    }

    .ms-hero {
        background:#eaeaea;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .ms-hero-logo-container {
        height: 80px;
    }
}

@media (min-width: 599px) {
  .ms-visible-small {
    display: none !important;
  }
}
@media (max-width: 598px) {
  .ms-hidden-small {
    display: none !important;
  }
}

.ms-hero-logo-container img {
    max-height: 100%;
    max-width: 100%;
}

.uk-navbar {
    background: #f7f7f7 linear-gradient(to bottom, #f2a854, #e68417) repeat scroll 0 0 border-box;
}

.uk-navbar-nav > li > a {
    color: #eee;
    text-shadow: 0 0px 0 #fff;
    border-width: 0px;
}

.uk-navbar-brand {
    color: #eee;
    text-shadow: 0 0px 0 #fff;
}

.uk-navbar-nav > li > a {
    color: hsl(50, 100%, 99%);
}

.uk-navbar-nav > li.uk-active > a {
    color: hsl(50, 100%, 99%);
    background-color : rgba(190, 85, 11, 0.4);
    box-shadow: none;
    border-bottom-width: 3px;
    border-left-color: rgba(0, 0, 0, 0.0);
    border-top-color: rgba(0, 0, 0, 0.0);
    border-right-color: rgba(0, 0, 0, 0.0);
    border-bottom-color: rgba(127, 0, 2, 1.0);
}

.uk-navbar-nav > li > a:hover {
    color: #e9e9e9;
    background-color : rgba(190, 85, 11, 0.15);
    box-shadow: none;
    border-bottom-width: 3px;
    border-left-color: rgba(0, 0, 0, 0.0);
    border-top-color: rgba(0, 0, 0, 0.0);
    border-right-color: rgba(0, 0, 0, 0.0);
    border-bottom-color: rgba(127, 0, 2, 1.0);
}

.uk-navbar-nav > li.uk-active > a:hover {
    color: hsl(50, 100%, 99%);
    background-color : rgba(190, 85, 11, 0.3);
    box-shadow: none;
    border-bottom-width: 3px;
    border-left-color: rgba(0, 0, 0, 0.0);
    border-top-color: rgba(0, 0, 0, 0.0);
    border-right-color: rgba(0, 0, 0, 0.0);
    border-bottom-color: rgba(127, 0, 2, 1.0);
}

.uk-navbar-brand.ms-navbar-brand {
    padding-top: 1px;
    color: hsl(50, 100%, 99%);
}

a:hover.uk-navbar-brand {
    color: #e9e9e9;
}

.uk-text-large {
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    color: #555;
}

:not(pre) > code {
    color: #555555;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 13px;
}

.uk-article.ms-article-compact + .uk-article.ms-article-compact {
    margin-top: 0px;
}

.uk-article.ms-article-compact > .uk-h3 {
    margin: 0 0 5px;
}


a, .uk-link {
    color: #3d92c9;
}

.uk-nav-side > li.uk-active > a {
    background: #81000b none repeat scroll 0 0;
}

html {
    position: relative;
    background: hsl(60, 100%, 99%);
    min-height: 100%;
    font: 14px/20px 'Lato',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    margin: 0 0 150px; /* bottom = footer height */
}

.ms-footer {
    text-align: center;
    font-size: 10px;
    position: absolute;
    background: #303030;
    color: #bbb;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.ms-subnav-footer {
    margin-bottom: 5px;
    font-size: 13px;
}

.ms-link-footer {
    color: #bbb;
}

a:hover.ms-link-footer {
    color: #777;
}

em {
    color: #444;
}

.ms-edit-on-github {
    padding-top: 5px;
    padding-left: 20px;
    font-size: 13px;
    white-space: nowrap;
}

.ms-header-link {
  color: #999;
  font-size: 0.7em;
  margin-left: -1.2em;
  padding-top: 1px;
  padding-right: 6px;
  position: absolute;
  opacity: 0;
}

.ms-header-link:hover {
  color: #555;
}

h2:hover .ms-header-link,
h3:hover .ms-header-link,
h4:hover .ms-header-link,
h5:hover .ms-header-link {
  opacity: 1;
}

.uk-badge {
  background: #3d92c9 linear-gradient(to bottom, #74b0d8, #3d92c9) repeat scroll 0 0 border-box;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: -2px;
  margin-left: 3px;
  border-radius: 2px;
}

.faq-table {
    width: 800px;
    border-spacing: 2px;   
}

.faq-table table {
  border-collapse: collapse;
  width: 100%;
}

.faq-table th, .faq-table td {
  text-align: center;
  padding: 8px;
}

.faq-table td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;  
}

.faq-table tr:nth-child(even) {background-color: #f2f2f2;}

.faq-table td:first-child{
  text-align: left;
  font-weight: bold;  
}

.faq-table td:last-child{
  width:40px;
}
@media (max-width: 200px) {
  .faq-table td:last-child{
    width:auto;
  }
}