---
layout: base
---
.row
  .span12
    %h2 Contributing

.row
  .span9
    :markdown
      You love MapStruct but miss a certain feature? You found a bug and want to report it, or even better, fix it yourself? That's great! MapStruct is all open source and your help is highly appreciated.

      <table class="table">
        <thead>
          <tr>
            <th>What</th><th>Where</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Source code</td><td><a href="http://github.com/mapstruct/mapstruct">http://github.com/mapstruct/mapstruct</a></td>
          </tr>
          <tr>
            <td>Issue tracker</td><td><a href="https://github.com/mapstruct/mapstruct/issues">https://github.com/mapstruct/mapstruct/issues</a></td>
          </tr>
          <tr>
            <td>Discussions</td><td>Join the <a href="https://groups.google.com/forum/?fromgroups#!forum/mapstruct-users">mapstruct-users</a> Google group</td>
          </tr>
          <tr>
            <td>CI build</td><td><a href="https://mapstruct.ci.cloudbees.com">https://mapstruct.ci.cloudbees.com</a></td>
          </tr>
          <tr>
            <td>This web site</td><td><a href="http://github.com/mapstruct/mapstruct.org">http://github.com/mapstruct/mapstruct.org</a></td>
          </tr>
        </tbody>
      </table>

      MapStruct follows the _Fork & Pull_ development approach. To get started just fork the [MapStruct repository](http://github.com/mapstruct/mapstruct) to your GitHub account and create a new topic branch for each change. Once you are done with your change, submit a [pull request](https://help.github.com/articles/using-pull-requests) against the MapStruct repo.

      When doing changes, keep the following best practices in mind:

      * Provide test cases
      * Update the [reference documentation](mapstruct.org/documentation) on [mapstruct.org](mapstruct.org) where required
      * Discuss new features you'd like to implement at the [Google group](https://groups.google.com/forum/?fromgroups#!forum/mapstruct-users) before getting started
      * Create one pull request per feature
      * Provide a meaningful history, e.g. squash intermediary commits before submitting a pull request
      * Start your commit messages with "#<issue no>", e.g. "#123 Adding new mapping feature"
      * Have git automatically manage line endings as described [here](https://help.github.com/articles/dealing-with-line-endings)
      * Format your sources using the provided IntelliJ [code style template](https://github.com/mapstruct/mapstruct/blob/master/etc/mapstruct.xml). Eclipse users can import the [Eclipse code formatter settings](https://github.com/mapstruct/mapstruct/blob/master/etc/eclipse-formatter-config.xml) - it's close enough, but configure the Save Actions to only format edited lines. If you use another IDE stick to the used style as much as possible.

      ### Updating mapstruct.org

      This web site ([mapstruct.org/](http://mapstruct.org)) is created using the fantastic [awestruct](http://awestruct.org/) tool. To update the web site fork the [mapstruct.org repo](http://github.com/mapstruct/mapstruct.org) and create a pull request with your changes.

      The individual pages are written in [Haml](http://haml.info/) and [Markdown](http://daringfireball.net/projects/markdown/) and converted into HTML by awestruct. Building the site requires Ruby 1.9.x to be installed on your system. You also need to install the gems _awestruct_ and _maruku_:

    %pre.prettyprint.linenums
      = preserve do
        :escaped
          $ gem install awestruct
          $ gem install maruku

    :markdown
      To build the web page run

    %pre.prettyprint.linenums
      = preserve do
        :escaped
          awestruct -d

    :markdown
      The web site can then be acessed at [http://localhost:4242](http://localhost:4242).

      ### License

      MapStruct is distributed under the [Apache License, Version 2.0](http://www.apache.org/licenses/LICENSE-2.0.html). By submitting a pull request you agree to license your work under that license and you affirm that your contribution doesn't violate any rights of other parties.

  .span3{ :style=>"text-align: center;"}
    :markdown
      <a href="https://mapstruct.ci.cloudbees.com/"><img src="http://www.cloudbees.com/sites/default/files/Button-Built-on-CB-1.png"/></a>
      [![Build Status](https://mapstruct.ci.cloudbees.com/job/mapstruct-snapshot/badge/icon)](https://mapstruct.ci.cloudbees.com/job/mapstruct-snapshot/)
