---
layout: base
---
.row
  .span12
    %h2 Documentation and other resources

.row
  .span12
    %h3 Reference Documentation

    %dl
      %dt #{site.mapstruct_latest_version}
      %dd
        :markdown
          #{site.mapstruct_latest_date}

          * Reference guide: [HTML](1.1/reference/html/index.html) | [PDF](1.1/reference/pdf/mapstruct-reference-guide.pdf)
          * API documentation: [JavaDoc](1.1/api/index.html)
          * [Migration notes](#{site.mapstruct_latest_migration_notes})

    
    %dl
      %dt 1.0.0.Final
      %dd
        :markdown
          Nov. 25 2015

          * Reference guide: [HTML](1.0/reference/html/index.html) | [PDF](1.0/reference/pdf/mapstruct-reference-guide.pdf)
          * API documentation: [JavaDoc](1.0/api/index.html)
          * [Migration notes](https://github.com/mapstruct/mapstruct/wiki/Migration-notes#100final)

.row
  .span12
    %h3 Examples
    :markdown
      The [mapstruct-examples](https://github.com/mapstruct/mapstruct-examples) repository on GitHub contains several example projects which show different aspects of using MapStruct, e.g. update methods, usage with Gradle etc.

.row
  .span12
    %h3 Other Resources on the Web

    %dl
      %dt Blog posts
      %dd
        :markdown
          * [Bean Mapping mit MapStruct](http://javabarista.blogspot.de/2015/04/bean-mapping-mit-mapstruct.html); Introduction to MapStruct (German);
          * [mapstruct - Java bean mappings](http://tux2323.blogspot.de/2014/03/mapstruct-java-bean-mappings.html); First 3rd party post on MapStruct ever :)
          * [MapStruct](https://samerabdelkafi.wordpress.com/2015/10/18/mapstruct/); Introductory post on MapStruct with code examples
          * [Don’t get lost, take the map! – DTO survival code](http://blog.goyello.com/2015/08/11/take-the-map-dto-survival-code/); DTO mapping with MapStruct
          * [Wer ist der optimale Java Bean Mapper?](http://www.frank-rahn.de/java-bean-mapper/); Comparison of several mapping APIs, recommending to use MapStruct (German)
          * [Layered applications with Mapstruct](http://software-reengineered.com/layered-an-application-with-mapstruct/); Using MapStruct for object mappings in multi-layered applications

      %dt Presentations
      %dd
        :markdown
          * [Machst Du noch Reflection oder annotierst Du schon? Bean-Mapping mit MapStruct](http://www.muchsoft.com/presentations/MATHEMA-Campus-2015-MapStruct.pdf); Slides from talk on MapStruct given at MATHEMA Campus 2015 (German)
          * [MapStruct - Der neue Stern am Bean-Mapping Himmel?!](https://www.inovex.de/fileadmin/files/Vortraege/2015/mapstruct-gerrit-brehmer-wjax-11-2015.pdf); Slides from talk on MapStruct given at W-JAX 2015 (German)

      %dt Miscellaneous
      %dd
        :markdown
          * [Using DTOs](http://jhipster.github.io/using_dtos.html); JHipster documentation on integrating MapStruct to map DTOs
