---
layout: base
---
.row
  .span12
    %h2 Download

    :markdown
      You can obtain a distribution bundle containing the MapStruct binaries, source code and API documentation from [SourceForge](http://sourceforge.net/projects/mapstruct/files/).

      If you're using Maven to build your project add the following to your _pom.xml_ to use MapStruct:

    %pre.prettyprint.lang-xml.linenums
      = preserve do
        :escaped
            ...
            <properties>
                <org.mapstruct.version>1.1.0.Beta1</org.mapstruct.version>
            </properties>
            ...
            <dependencies>
                <dependency>
                    <groupId>org.mapstruct</groupId>
                    <artifactId>mapstruct</artifactId> <!-- use mapstruct-jdk8 for Java 8 or higher -->
                    <version>${org.mapstruct.version}</version>
                </dependency>
            </dependencies>
            ...
            <build>
                <plugins>
                    <plugin>
                        <groupId>org.apache.maven.plugins</groupId>
                        <artifactId>maven-compiler-plugin</artifactId>
                        <version>3.5.1</version>
                        <configuration>
                            <source>1.6</source> <!-- or higher, depending on your project -->
                            <target>1.6</target> <!-- or higher, depending on your project -->
                            <annotationProcessorPaths>
                                <path>
                                    <groupId>org.mapstruct</groupId>
                                    <artifactId>mapstruct-processor</artifactId>
                                    <version>${org.mapstruct.version}</version>
                                </path>
                            </annotationProcessorPaths>
                        </configuration>
                    </plugin>
                </plugins>
            </build>
