---
layout: base
---
.row
  .span12
    %h2 Getting help

    :markdown
      You'are using MapStruct and ran into a problem?

      First check out the [reference guide](#{site.base_url}/documentation). If that doesn't help answering your question you may join the MapStruct [Google group](https://groups.google.com/forum/?fromgroups#!forum/mapstruct-users) or hop by the MapStruct [Gitter room](https://gitter.im/mapstruct/mapstruct-users).

      To report a bug or request a new feature use the MapStruct [issue tracker](https://github.com/mapstruct/mapstruct/issues). Note that bug reports should be accompanied by a test case demonstrating the issue.
